<!-- SHROFFIN_GUIDE_LOCALNAV_START -->
<nav class="localnav" aria-label="{{SW:localnav.aria_label}}">
  <div class="localnav-content">
    <a class="localnav-title" href="guide.html">{{SW:localnav.title}}</a>
    <div class="localnav-menu">
      <ul class="localnav-list">
        <li>
          <a class="localnav-link" href="guide.html"{{OVERVIEW_CURRENT}}>{{SW:nav.guide_overview}}</a>
        </li>
        <li>
          <a class="localnav-link" href="guide-documents.html"{{DOCUMENTS_CURRENT}}>{{SW:nav.guide_documents}}</a>
        </li>
        <li>
          <a class="localnav-link" href="tax-benefits.html"{{TAX_CURRENT}}>{{SW:nav.guide_tax}}</a>
        </li>
        <li>
          <a class="localnav-link" href="concessions.html"{{CONCESSIONS_CURRENT}}>{{SW:nav.guide_concessions}}</a>
        </li>
        <li>
          <a class="localnav-link" href="home-loan-insurance.html"{{INSURANCE_CURRENT}}>{{SW:nav.guide_insurance}}</a>
        </li>
        <li>
          <a class="localnav-link" href="home-loan-complaints.html"{{COMPLAINTS_CURRENT}}>{{SW:nav.guide_complaints}}</a>
        </li>
      </ul>
      <a class="localnav-cta" href="explore-banks.html">{{SW:localnav.cta_explore}}</a>
    </div>
  </div>
</nav>
<!-- SHROFFIN_GUIDE_LOCALNAV_END -->
